@import 'modern-normalize/modern-normalize.css';
@import 'transitions.scss';

*{
  --bg-light: #fafafa;
  --bg-dark: #080808;
  --text-light: #171717;
	--text-dark: #f1f1f1;
  --accent: #0811EA;
  font-display: swap;
}

@font-face {
  font-family: 'PPEditorialNew-Regular', serif;
   src: url("/fonts/PPEditorialNew-Regular.woff2") format('woff2');
   font-style: normal;
   font-weight: 400; 
   
}

body {
  background-color: var(--bg-dark);
  color: var(--text-dark);
  font-family: Arial, sans-serif;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  img {
    width: 50%;
  }
}

.parentSizeElement {
  width: 100%;
  height: 100%;
}
